<a href="{{url}}" class="glass tile rounded-0 mr-2 mb-2">
  <div>
    <img src="/img/apps/{{this.icon}}.webp" alt="{{this.name}} icon" />
    <span class="small">
      {{this.name}}
    </span>
  </div>
</a>