<div class="card glass rounded-0">
  <div class="card-body p-1">
    <p class="card-text">
      <span class="h4 font-weight-bold">Set Status</span>
    </p>
  </div>
</div>
<div class="row mt-2 mb-0">
  <div class="col-12">
    <div class="row mx-0">
      {{#each this.options as |option|}}
        <div class="col-6 col-lg-3 mb-2 ml-0 p-0">
          {{#if (string-eq this.current option.status)}}
            <div class="tile selected-status rounded-0 mr-0 mb-0" {{on "click" (fn this.update option.status)}}>
              <div>
                <MdIcon @icon="{{option.icon}}" @fill="#ffffff" />
                <span class="small" style="word-spacing: 0;">
                  <u>{{option.label}}</u>
                </span>
              </div>
            </div>
          {{else}}
            <div class="tile glass rounded-0 mr-0 mb-0" {{on "click" (fn this.update option.status)}}>
              <div>
                <MdIcon @icon="{{option.icon}}" @fill="#ffffff" />
                <span class="small" style="word-spacing: 0;">
                  {{option.label}}
                </span>
              </div>
            </div>
          {{/if}}
        </div>

      {{/each}}
    </div>
  </div>
</div>