<div class="card glass rounded-0">
  <div class="card-body p-1">
    <p class="card-text">
      <i class="fas fa-clock"></i>
      <span class="h4 font-weight-bold">{{this.display}}</span>
    </p>
  </div>
</div>