<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">Crypto Ticker</h5>
    <hr>
    <div class="list-group list-group-flush list-group-h-288">
      {{#if this.ticker.data}}
        {{#each this.ticker.data as |tradepair|}}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{tradepair.value}}</h5>
              <small>{{tradepair.crypto}}/{{tradepair.fiat}}</small>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <small>{{cryptostatus tradepair.change}} {{percentage tradepair.change 2}}%</small>
              <small></small>
            </div>
          </a>
        {{/each}}
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">No Ticker Data...</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>