<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">Fuel Prices</h5>
    <hr>
    <div class="list-group list-group-flush list-group-h-288">
      {{#if this.prices.data}}
        {{#each this.prices.data as |entry|}}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">&euro;{{entry.price}}</h5>
              <small></small>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <small>{{entry.vendor}} ({{entry.type}})</small>
              <small></small>
            </div>
          </a>
        {{/each}}
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">No Price Data...</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>