<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">Internet Status</h5>
    <hr>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fas fa-circle fa-xxs server-status-indicator" style={{internetstatus this.statuses.data.interface}}></i> Interface</h5>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fas fa-circle fa-xxs server-status-indicator" style={{internetstatus this.statuses.data.address}}></i> Address</h5>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fas fa-circle fa-xxs server-status-indicator" style={{internetstatus this.statuses.data.ping}}></i> Ping</h5>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><i class="fas fa-circle fa-xxs server-status-indicator" style={{internetstatus this.statuses.data.dns}}></i> DNS</h5>
        </div>
      </a>
    </div>
  </div>
</div>