<div class="card glass rounded-0">
  <table class="table table-striped text-white mb-0 table-responsive-sm">
    <thead>
      <th class="border-0">Service</th>
      <th class="border-0">Time</th>
      <th class="border-0">Severity</th>
      <th class="border-0">Message</th>
    </thead>
    <tbody>
      {{#each this.notifications.items as |notification|}}
        <tr {{on "click" (fn this.dismiss notification.id)}}>
          <td>{{notification.service}}</td>
          <td>{{format-time notification.time.raw}}</td>
          <td>{{notification.severity}}</td>
          <td>{{notification.message}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>