{{#each-in this.items as |title items|}}
  <div class="row mt-2">
    <div class="col-12">
      <h5 class="font-weight-bold text-capitalize">{{title}}</h5>
      <div class="row mx-0">
        {{#each items as |item|}}
          <AppTile @name={{item.name}} @url={{item.url}} @image={{item.image}} />
        {{/each}}
      </div>
    </div>
  </div>
{{/each-in}}