<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">RSS Feed</h5>
    <hr>
    <div class="list-group list-group-flush list-group-h-288">
      {{#if this.feed.data}}
        {{#each this.feed.data as |entry|}}
          <a href="{{entry.url}}" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-truncate">{{entry.title}}</h5>
              <small></small>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <small>{{format-time entry.added}}</small>
              <small>
                {{#if entry.source}}
                  {{entry.source}}
                {{else}}
                  Unknown Source
                {{/if}}
              </small>
            </div>
          </a>
        {{/each}}
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">No server data...</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>