<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">Schedule</h5>
    <hr>
    <div class="list-group list-group-flush list-group-h-288">
      {{#if this.schedule.data}}
        {{#each this.schedule.data as |item|}}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{item.title}}</h5>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <small>{{format-time item.date.time}}</small>
            </div>
          </a>
        {{/each}}
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Nothing Scheduled</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>