<div class="card glass rounded-0">
  <div class="card-body p-1">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text border-0 bg-transparent font-weight-bold text-uppercase" id="search-target">{{this.indicator}}:</span>
      </div>
      <Input
        id="search-input"
        @type="text"
        @class="form-control border-0 bg-transparent h4 font-weight-bold p-0 mb-0 w-95 rounded-0 text-white"
        @placeholder="Browse the web"
        @aria-label="Username"
        @aria-describedby="basic-addon1"
        {{on "keydown" this.onKeyDown}}
      />
    </div>
  </div>
</div>