<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">Server Status</h5>
    <hr>
    <div class="list-group list-group-flush">
      {{#if this.statuses.data}}
        {{#each this.statuses.data as |server|}}
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><i class="fas fa-circle fa-xxs server-status-indicator" style={{serverstatus server.status}}></i> {{server.server}}</h5>
              <small>{{format-time server.time.time}}</small>
            </div>
          </a>
        {{/each}}
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">No server data...</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>