<div class="side-nav">
  <ul>
    {{#link-to 'home' tagName='li'}}
      <i class="fas fa-tachometer-alt"></i>
    {{/link-to}}
    {{#link-to 'finance' tagName='li'}}
      <i class="fab fa-bitcoin"></i>
    {{/link-to}}
    {{#link-to 'settings' tagName='li'}}
      <i class="fas fa-cog"></i>
    {{/link-to}}
    {{#link-to 'notifications' tagName='li'}}
      <i class="fas fa-bell" id="notification-indicator" style={{this.notificationColor}}></i>
    {{/link-to}}
    <li {{on "click" this.ninymConnect}}>
      <i class="fas fa-server" style={{this.ninymIconColor}}></i>
    </li>
  </ul>
  <ul>
    {{#each this.services as |service|}}
      <SidebarIcon @name={{service.name}} @url={{service.url}}/>
    {{/each}}
  </ul>
</div>
