<div class="card glass rounded-0">
  <div class="card-body p-0">
    <h5 class="font-weight-bold mt-3 ml-3">UPS Status</h5>
    <hr>
    <div class="list-group list-group-flush">
      {{#if this.status.data}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Load</h5>
              {{this.status.data.loadWatt}}/{{this.status.data.maxWatt}}W ({{this.status.data.loadPercent}}%)
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Battery</h5>
            {{this.status.data.chargePercent}}%
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Bridge Time</h5>
            {{this.status.data.remainingSeconds}} seconds
          </div>
        </a>
      {{else}}
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start text-white">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">No server data...</h5>
          </div>
        </a>
      {{/if}}
    </div>
  </div>
</div>