<div class="card glass rounded-0">
  <div class="card-body p-1">
    <p class="card-text">
      <span class="h4 font-weight-bold">Current Weather</span>
    </p>
  </div>
</div>
<div class="row mt-2 mb-0">
  <div class="col-12">
    <h5 class="font-weight-bold text-capitalize"></h5>
    <div class="row mx-0 flex-nowrap">
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-owm-{{this.weather.current.weather.id}}"></i>
          <span class="small">
            {{this.weather.current.weather.name}}
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-thermometer"></i>
          <span class="small" style="word-spacing: 0;">
            {{this.weather.current.temperature}} &deg;C
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-humidity"></i>
          <span class="small" style="word-spacing: 0;">
            {{this.weather.current.humidity}} %
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-umbrella"></i>
          <span class="small" style="word-spacing: 0;">
            {{this.weather.current.precipitation}} mm
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-0">
  <div class="col-12">
    <h5 class="font-weight-bold text-capitalize"></h5>
    <div class="row mx-0 flex-nowrap">
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-sunrise"></i>
          <span class="small">
            {{this.weather.current.sunrise}}
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-sunset"></i>
          <span class="small">
            {{this.weather.current.sunset}}
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-day-sunny"></i>
          <span class="small" style="word-spacing: 0;">
            UVI {{this.weather.current.uvi}}
          </span>
        </div>
      </div>
      <div class="glass tile rounded-0 mr-2 mb-2">
        <div>
          <i class="wi wi-wind wi-wind-towards-{{this.weather.current.wind.direction}}"></i>
          <span class="small" style="word-spacing: 0;">
            {{this.weather.current.wind.speed}} m/s
          </span>
        </div>
      </div>
    </div>
  </div>
</div>