@import 'components/side-nav';
@import 'components/card';
@import 'components/search';
@import 'components/tile';
@import 'components/modal';
@import 'components/hr';
@import 'components/_list-group.scss';
@import 'components/_fa';
@import 'components/_server-status';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  color: var(--text);
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;


}

@media (max-width: 575.98px) {
  body {
    background: url('/img/background.webp');
    background-size: cover;
    background-position: -53rem 0rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

@media (min-width: 576px) {
  body {
    background: url('/img/background.webp') no-repeat center center fixed;
    background-size: cover;
  }
}

header {
  width: 100%;
}

main {
  flex: 1;
}

/* Style page content */
.page-content {
  margin-left: 35px;
  padding: 0px 10px;
}

