@import "../vendor/bootstrap/functions";
@import "../vendor/bootstrap/variables";
@import "../vendor/bootstrap/mixins/_breakpoints";

@include media-breakpoint-up(xs) {
  .list-group-h-288 {
    max-height: 288px;
    min-height: 288px;
    overflow-y: scroll;
    overflow-x: auto;
  }
}


.list-group-item {
  background-color: transparent;
  width: 100%;

  &:hover {
    background-color: rgba(var(--background-light-rgb), 1);
  }

  &-action {
    &:active, &:focus {
      background-color: rgba(var(--background-light-rgb), 1);
    }
  }
}
