.modal {
  .modal-content {
    background-color: var(--background-medium);

    .modal-header {
      border-bottom: 1px solid var(--background-light);
    }

    .modal-footer {
      border-top: 1px solid var(--background-light);
    }
  }
}