.side-nav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-dark);
  overflow-x: hidden;
  padding-top: 20px;

  ul {
    padding-left: 0;
    list-style: none;

    &>li {
      padding: 10px 7px;

      img {
        max-width: 32px;
        max-height: 32px;
      }

      i {
        font-size: 32px;
      }

      &:hover {
        background-color: var(--primary-dark);
      }

      &.active {
        background-color: var(--primary-normal)
      }
    }
  }
}