.tile {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;

  color: var(--text);

  &.glass {
    background-color: rgba(var(--background-light-rgb), 0.75);
  }

  &.selected-status {
    background-color: rgba(var(--red-rgb), 0.75);
  }

  &>div {
    text-align: center;
    img {
      width: 50px;
      position: relative;
    }

    span {
      display: block;
      margin-top: 2px;
      text-overflow: ellipsis;
      word-spacing: 100vw;
    }
  }

  &:hover {
    color: var(--text);
    text-decoration: none;
    background-color: rgba(var(--background-light-rgb), 1);
  }
}
