<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-config" content="{{rootURL}}browserconfig.xml">

    {{content-for "head"}}

    <link rel="manifest" href="{{rootURL}}manifest.webmanifest">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/fontawesome.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/bootstrap.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/weather-icons.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor/weather-icons-wind.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/themes/default.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/dashboard.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/dashboard.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
