@import '../abstract/is-map';
@import '../functions/hex-to-rgb';

:root {
  @each $color, $value in $theme-colors {
    @if is-map($value) == true {
      @each $child-color, $value in $value{
        --#{$color}-#{$child-color}: #{$value};
        --#{$color}-#{$child-color}-rgb: #{hex-to-rgb($value)};
      }
    } @else {
      --#{$color}: #{$value};
      --#{$color}-rgb: #{hex-to-rgb($value)};
    }
  }

  @each $setting, $value in $theme-settings {
    @if is-map($value) == true {
      @each $child-setting, $value in $value{
        --#{$setting}-#{$child-setting}:  #{$value};
      }
    } @else {
      --#{$setting}: #{$value};
    }
  }
}
