<div class="row">
  <div class="col-12 col-lg-5">
    <div class="card glass rounded-0">
      <CryptoTicker />
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <div class="card glass rounded-0">
      <InternetStatus />
    </div>
  </div>
</div>