<div class="row">
  <div class="col-12 col-lg-4 col-xl-4 order-first order-lg-1 mb-2">
    <!-- Main search -->
    <div class="row">
      <div class="col-12">
        <SearchBar />
      </div>
    </div>

    <!-- Main tiles -->
    <div class="row mt-1 d-none d-sm-block">
      <div class="col-12">
        {{#with @model as |items|}}
          <QuickAccess @items={{items}}/>
        {{/with}}
      </div>
    </div>
  </div>

  <!-- Middle Columns-->
  <div class="col-12 col-lg-5 col-xl-5 order-lg-2 mb-2">
    <div class="row mb-2 mb-lg-2 mb-xl-2">
      <div class="col-12 col-lg-7 col-xl-7">
        <Schedule />
      </div>
      <div class="col-12 col-lg-5 col-xl-5">
        <FuelPrices />
      </div>
    </div>
    <div class="row mb-2 mb-lg-2 mb-xl-2">
      <div class="col-12 col-lg-7 col-xl-7">
        <ServerStatus />
      </div>
      <div class="col-12 col-lg-5 col-xl-5">
        <UpsStatus />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12">
        <RssFeed />
      </div>
    </div>
  </div>

  <!-- Last columns -->
  <div class="col-12 col-lg-3 order-lg-last mb-2">
    <div class="row d-none d-sm-block">
      <div class="col-12">
        <Weather />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <AvailabilityStatus />
      </div>
    </div>
  </div>
</div>