<div class="row">
  <!-- Notifications Panel -->
  <div class="col-12 col-lg-10">
    <Notifications />
  </div>

  <!-- Delete all button -->
  <div class="col-12 col-lg-2 d-none d-sm-block order-lg-last mb-2">
    <button type="button" class="btn btn-danger rounded-0" {{on "click" this.dismissAll}}>Dismiss All</button>
  </div>
</div>