<div class="col-12 col-lg-8">
  <div class="card glass rounded-0">
    <table class="table table-striped text-white mb-0 table-responsive-sm">
      <thead>
      <th class="border-0">Setting</th>
      <th class="border-0">Value</th>
      </thead>
      <tbody>
        <tr>
          <td>Ninym Websocket URL</td>
          <td>
            <Input
              @type="text"
              @class="form-control border-0 bg-transparent h4 font-weight-bold p-0 mb-0 w-95 rounded-0 text-white"
              @placeholder="Please enter the URL for Ninym's Websocket"
              @value={{this.settings.ninymWebsocket}}
              {{on "keydown" this.updateNinymWebsocket}}
            />
          </td>
        </tr>
        <tr>
          <td>Ninym Authorization Token</td>
          <td>
            <Input
              @type="password"
              @class="form-control border-0 bg-transparent h4 font-weight-bold p-0 mb-0 w-95 rounded-0 text-white"
              @placeholder="Please enter Ninym Authorization Token"
              @value={{this.settings.ninymToken}}
              {{on "keydown" this.updateNinymToken}}
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
